<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">
  <div class="row">
      <div class="col-sm-12">
            <h1 id="homepageHeader">Todo<br>List!</h1>
        <div class="homepageStuff">
              <h3 id="homepageText">Welcome to the Todo List!</h3>
              <h4 id="homepageText2">Please login or register. Signed in?</h4>
              <h4 id="homepageText3">Click Todo List to view your todos!</h4>
              <a routerLink="login"><button id="loginBtn" type="button" class="btn btn-primary">Login/Register</button></a>
              <a routerLink="todos"><button id="todosBtn" type="button" class="btn btn-warning">Todos List</button></a>
        </div>
      </div>
  </div>    
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

